div{
  width: 200px;
  height: 100px;
  background-color: orange;
}

/* Emmet */
div.logo{
  /* w:200px; */
  width: 300px;
  /* h:100px; */
  height: 245px;

  /* bc:orange */
  background-color: red


}
